* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    font-size: 30px;
}

.header {
    background-color: #E8B4B8;
}

h1 {
    background-color: #B68D40;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    background-color: #EED6D3;
}

body {
    background-color: #FBE7C6;
}

article {
    font-size: 30px;
}

li {
    display: inline;
    font-size: 20px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #999;
}

#caja {
    text-align: left;
    border: 10px solid #000000;
    background-color: #B68D40;
    height: 409px;
    width: 409px;
    padding: 64px 32px 32px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

body {
    padding: 20px;
}

h2 {
    margin-bottom: 0.5em;
}

.FotosProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    background-color: #B68D40;
}

.ListadoProductos {
    background-color: #B68D40;
}

.ContenedorProductos {
    justify-content: space-evenly;
    justify-items: center;
}

.banner {
    background-color: black;
    align-items: center;
}

.Darksideimg {
    width: 1500px;
    height: 300px;
    content: center;
}

@media only screen and (max-width: 480px) {
    .banner {
    width: "40";
    height: "40";
    }

    .FotosProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    background-color: black;
    }

    img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    }

    .Darksideimg {
    height: 320px;
    width: 320px;
    }

    #caja {
    width: auto;
    height: auto;
    text-align: center;
    }
    #cajacompra {
    background-color: black;
    text-align: left;
    border: 10px solid #000000;
    background-color: #B68D40;
    height: 409px;
    width: 409px;
    padding: 64px 32px 32px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    }
}
$redes: (
    red1: red,
    red2: blue,
    red3: yellow);   

@each $red, $color in $redes{
    .btn--#{$red} {
        background-color: $color;
        height: 200px;
        width: 400px;
        border: 2px solid black;
        text-align: center;
        font-size: 50px;
        line-height: 200px;
        color: white;
    }
    .caja2{
        @extend #caja;
        background-color:black
    }
}